script src="/lib/three.js"
script src="/lib/Projector.js" 
script src="/lib/CanvasRenderer.js" 
script src="/lib/stats.min.js" 
script src="/lib/Detector.js"
script src="/lib/OrbitControls.js"
script src="/lib/THREEx.KeyboardState.js"
script src="/lib/THREEx.FullScreen.js"
script src="/lib/THREEx.WindowResize.js"
//script src="/lib/Geometry.js"

<div id="ThreeJS" style="position: relative; left:0px; top:0px"></div>
script src="lab6.js"
