script src="/lib/Three58.js"
script src="/lib/Projector.js" 
script src="/lib/CanvasRenderer.js" 
script src="/lib/Detector.js"

script src="/lib/TrackballControls.js"
script src="/lib/polyhedra.js"

#ThreeJS[style="position: relative; left:0px; top:0px"]
script src="lab7.js"
