nav 
  ul 
    li <a href="/" title = "Home">Home</a> 
    li <a href="/lab1" title = "lab1">Lab 1</a>
    li <a href="/lab2" title = "lab2">Lab 2</a>
    li <a href="/lab3" title = "lab3">Lab 3</a>
    li <a href="/lab4" title = "lab4">Lab 4</a>
    li <a href="/lab5" title = "lab5">Lab 5</a>
    li <a href="/lab6" title = "lab6">Lab 6</a>
    li <a href="/lab7" title = "lab7">Lab 7</a>
